<h1>Articl.es</h1>
<h3>...what's "Articl in Spanish anyway?</h3>

<%= link_to 'list all articles', articles_path %>
<%= link_to 'edit', edit_article_path(@article) %>
<%= link_to 'delete', @article, :confirm => 'Are you sure?', :method => :delete %>

<h2><%=h @article.title %></h2>
<h3>by <%=h @article.author %>. Number edits since  <%=h @article.created_at %></h3>

<p>
  <b>Description:</b>
  <%=h @article.description %>
</p>