<div class=heading>
	<h1>Articl.es</h1>
	<h3>...my cousin works for Bit.ly</h3>
</div>

<ul class="menubar">
	<li><%= link_to "articles", articles_path %></li>
	<li><%= link_to "authors", authors_path %></li>
</ul>

<%= link_to image_tag('arrow_left.png', :border => 0), :back, :title => "return to previous page" %>
<%= link_to 'back', :back, :title => "return to previous page" %>

<h2>Editing "<%=h @author.name %>"</h2>

<% form_for(@author, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>

<%= f.error_messages %>
  <p>
	<%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
	<%= f.label :photo %><br />
    <%= f.file_field :photo %>
  </p>
  <p>
    <%= f.submit 'Save Changes', :title => "save and return to previous page (or errors are displayed)" %>
  </p>
<% end %>