<div class=heading>
	<h1>Articl.es</h1>
	<h3>...with a name .com hipsters love!</h3>
</div>

<ul class="menubar">
	<li><%= link_to "articles", articles_path %></li>
	<li><%= link_to "authors", authors_path %></li>
</ul>

<h2>All the World's Authors</h2>
<%= link_to image_tag('add.png', :border => 0), new_author_path, :title => "create a new author" %>
<%= link_to 'Create an Author', new_author_path, :title => "create a new author" %>


<div class=body>
	<table class=complete>
		<tr>
			<th>Author Name </th>
		</tr>
		<% @authors.each do |author| %>
			<tr>
				<td><%=h author.name %></td>
				<td>
					<%= link_to image_tag('magnifier.png', :border => 0), author, :title => "view this author" %>
					<%= link_to image_tag('database_edit.png', :border => 0), edit_author_path(author), :title => "edit this author" %>
					<%= link_to image_tag('database_delete.png', :border => 0), author, :confirm => 'Are you sure?', :method => :delete, :title => "delete this author" %>
				</td>
			</tr>
		<% end %>
	</table>
</div>
<h3><%=h pluralize(@authors.count, 'author') %></h3>