<div class=heading>
	<h1>Articl.es</h1>
	<h3>...what's "Articl in Spanish anyway?</h3>
</div>

<ul class="menubar">
	<li><%= link_to "articles", articles_path %></li>
	<li><%= link_to "authors", authors_path %></li>
</ul>

<ul>
		<%= link_to image_tag('arrow_left.png', :border => 0), authors_path, :title => "return to main authors page" %>
		<%= link_to 'list all authors', authors_path, :title => "return to main authors page" %>
		<%= link_to image_tag('database_edit.png', :border => 0), edit_author_path(@author), :title => "edit this author" %>
		<%= link_to 'edit', edit_author_path(@author), :title => "edit this author" %>
		<%= link_to image_tag('database_delete.png', :border => 0), @author, :confirm => 'Are you sure?', :method => :delete, :title => "delete this author" %>
		<%= link_to 'delete', @author, :confirm => 'Are you sure?', :method => :delete, :title => "delete this author" %>
		<%= link_to image_tag('email.png', :border => 0), :title => "email this author" %>
		<%= link_to 'email', :title => "email this author" %>
</ul>

<h3>
  <%=h @author.name %>
</h3>
<p>
  <b>Picture:</b>
</p>
<p>
  <b>Articles:</b>
</p>