.heading
  %h1 Articl.es
  %h3 ...what's "Articl in Spanish anyway?
%ul.menubar
  %li= link_to "articles", articles_path
  %li= link_to "authors", authors_path
%ul
  = link_to image_tag('arrow_left.png', :border => 0), authors_path, :title => "return to main authors page"
  = link_to 'list all authors', authors_path, :title => "return to main authors page"
  = link_to image_tag('database_edit.png', :border => 0), edit_author_path(@author), :title => "edit this author"
  = link_to 'edit', edit_author_path(@author), :title => "edit this author"
  = link_to image_tag('database_delete.png', :border => 0), @author, :confirm => 'Are you sure?', :method => :delete, :title => "delete this author"
  = link_to 'delete', @author, :confirm => 'Are you sure?', :method => :delete, :title => "delete this author"
  = link_to image_tag('email.png', :border => 0), :title => "email this author"
  = link_to 'email', :title => "email this author"
%h3
  Name: #{h @author.name}
%p
  %b Photo:
  = image_tag @author.photo.url
%p
  %b Articles:
  %ul.articleList
    - @author_articles.each do |article|
      %li
        = h article.title
        = link_to image_tag('magnifier.png', :border => 0), article, :title => "view this article"
        = link_to image_tag('database_edit.png', :border => 0), edit_article_path(article), :title => "edit this article"
        = link_to image_tag('database_delete.png', :border => 0), article, :confirm => 'Are you sure?', :method => :delete, :title => "delete this article"