- if logged_in?
  #user_sessions-bar-greeting
    Logged in as #{link_to_current_user_sessions :content_method => :login}
  #user_sessions-bar-action
    (#{link_to "Log out", logout_path, { :title => "Log out" }})
- else
  #user_sessions-bar-greeting= link_to_login_with_IP 'Not logged in', :style => 'border: none;'
  #user_sessions-bar-action
    = link_to "Log in",  login_path,  { :title => "Log in" }
    \/
    \#{link_to "Sign up", signup_path, { :title => "Create an account" }}