  -if permitted_to? :login, @user
    .menubar
      %p= link_to "login",  login_path
      %p= link_to "register", new_user_path 
  -else
    .menubar
      %p= link_to "edit", edit_user_path
      %p= link_to "eogout", logout_path	  
      
.heading
  %h1= link_to "Gamez", games_path
  %h3= View Games
.body
  %table.complete
    %tr
      %th Title
      %th Rating
      %th Date Added
    - @games.each do |article|
      %tr
        %td= h game.title
        %td= h game.rating
        %td= #{h @game.created_at.strftime("%A, %b. %d, %Y")}. by #{h @game.creator}
        = will_paginate @games