  -if permitted_to? :login, @user
    .menubar
      %p= link_to "login",  login_path
      %p= link_to "register", new_user_path 
  -else
    .menubar
      %p= link_to "edit", edit_user_path
      %p= link_to "eogout", logout_path	  
.heading
  %h1= link_to "Gamez", games_path
  %h3 New Game
- form_for(@game) do |f|
  = f.error_messages
  %p
    = f.label :title
    %br/
  %p
    = f.label :rating
    %br/
    = f.text_field :rating
  %p
    = f.label :creator
    %br/
    = f.text_field :creator
  %p
    = f.submit 'Create!', :title => "to main articles page (or errors are displayed)"