  -if permitted_to? :login, @user
    .menubar
      %p= link_to "login",  login_path
      %p= link_to "register", new_user_path 
  -else
    .menubar
      %p= link_to "edit", edit_user_path
      %p= link_to "eogout", logout_path	 
.heading
  %h1= link_to "Gamez", games_path
  %h3 Show Game
%ul
  = link_to image_tag('arrow_left.png', :border => 0), games_path, :title => "return to main games page"
  = link_to 'list all games', games_path, :title => "return to main games page"
  = link_to image_tag('database_edit.png', :border => 0), edit_game_path(@game), :title => "edit this game"
  = link_to 'edit', edit_game_path(@game), :title => "edit this game"
  = link_to image_tag('database_delete.png', :border => 0), @game, :confirm => 'Are you sure?', :method => :delete, :title => "delete this game"
  = link_to 'delete', @game, :confirm => 'Are you sure?', :method => :delete, :title => "delete this game"
  = link_to image_tag('email.png', :border => 0), :title => "email this game"
  = link_to 'email', :title => "email this game"
%h2= h @game.title
%p
  = h @game.rating
%p
  by #{h @game.creator}. #{h @game.created_at.strftime("%A, %b. %d, %Y")}
%br/