%ul.menubar
  %li= link_to "login"
  %li= link_to "register", new_user_path 
.heading
  %h1= link_to "Gamez", games_path
  %h3 View Users
%h2 Users
.body
  %table.complete
    %tr
      %th Username
      %th First Name
      %th Last Name
      %th Last Login
      %th Number of Games
    - @users.each do |user|
      %tr
        %td= h user.username
        %td= h user.firstname
        %td= h user.lastname
        %td= h user.updated_at.strftime("%A, %b. %d, %Y")
        %td= h @user_games.count
        = will_paginate @users