.title
  %h1= link_to @title, root_url

-#Need to be logged in to user or admin for this functionality

- form_for (@game) do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :rating
    %br
    = f.text_field :rating
  %p
    = f.label :user
    %br
    = f.text_field :user
  %p
    = f.submit , :title => "Create the Game!"
	
%p= link_to "Back to List", root_url
