<div class=heading>
	<h1>Articl.es</h1>
	<h3>...with a name .com hipsters love!</h3>
</div>

<ul class="menubar">
	<li><%= link_to "articles", articles_path %></li>
	<li><%= link_to "authors", authors_path %></li>
</ul>

<h2>All the World's Articles</h2>
<%= link_to image_tag('add.png', :border => 0), new_article_path, :title => "create a new article" %>
<%= link_to 'Create an Article', new_article_path, :title => "create a new article" %>

<div class=body>
	<table class=complete>
		<tr>
			<th>Title</th>
			<th>Author Name </th>
			<th>Body</th>
			<th>Creation Date</th>
		</tr>
		<% @articles.each do |article| %>
			<tr>
				<td><%=h article.title %></td>
				<td><%=h article.author %></td>
				<td><%=h truncate(article.description, :length=>32) %></td>
				<td><%=h article.created_at.strftime("%A, %b. %d, %Y") %></td>
				<td>
					<%= link_to image_tag('magnifier.png', :border => 0), article, :title => "view this article" %>
					<%= link_to image_tag('database_edit.png', :border => 0), edit_article_path(article), :title => "edit this article" %>
					<%= link_to image_tag('database_delete.png', :border => 0), article, :confirm => 'Are you sure?', :method => :delete, :title => "delete this article" %>
				</td>
			</tr>
		<% end %>
	</table>
</div>
<%= will_paginate @articles %>
<h3><%=h pluralize(@num_articles, 'article') %></h3>
